@charset "UTF-8";
body {
  font-family: "宋体";
  background: url("../img/backstageBg.jpg"); }

#banner {
  width: 100%;
  height: 45px;
  background: #8892BF;
  border-bottom: 5px solid #4F5B93; }
  #banner .wrapper {
    width: 1200px;
    margin: 0 auto; }
    #banner .wrapper ul a li, #banner .wrapper .banner_text {
      text-align: center;
      line-height: 45px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      color: #E2E4EF;
      font-family: "微软雅黑"; }
    #banner .wrapper ul {
      display: inline-block;
      vertical-align: top; }
      #banner .wrapper ul a {
        cursor: pointer; }
        #banner .wrapper ul a li {
          float: left;
          width: 80px;
          height: 45px;
          font-size: 14px; }
        #banner .wrapper ul a .active {
          background: #4F5B93; }
    #banner .wrapper .banner_text {
      font-weight: 600;
      letter-spacing: 4px;
      margin-right: 15px;
      font-size: 26px; }
    #banner .wrapper .name {
      margin-right: 50px; }
    #banner .wrapper .name, #banner .wrapper .back_home {
      float: right;
      text-align: center;
      line-height: 45px;
      color: #f1f1f1;
      font-weight: 600; }

#content .wrapper {
  width: 1200px;
  margin: 30px auto;
  background: #bbb;
  min-height: 500px;
  position: relative;
  box-sizing: border-box;
  padding: 20px 20px 5px; }
  #content .wrapper .mode_choice {
    position: absolute;
    top: 120px;
    left: -50px; }
    @media (max-width: 1250px) {
      #content .wrapper .mode_choice {
        left: 0; } }
    #content .wrapper .mode_choice ul li {
      margin-bottom: 8px;
      color: #dedede;
      line-height: 20px;
      font-weight: 600;
      cursor: pointer;
      background: #5B37EA; }
      #content .wrapper .mode_choice ul li p {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 45px;
        height: 45px; }
    #content .wrapper .mode_choice ul .active {
      background: #F24C0A; }
  #content .wrapper .item_box .hidden {
    display: none; }
  #content .wrapper .item_box .graph_index .header_text {
    text-align: center;
    height: 100px;
    font-size: 34px;
    line-height: 100px;
    font-weight: 600; }
  #content .wrapper .item_box .graph_index .tips {
    width: 600px;
    margin: 0 auto; }
    #content .wrapper .item_box .graph_index .tips p {
      text-indent: 2em;
      line-height: 20px;
      margin-bottom: 10px; }
  #content .wrapper .item_box .item_box_list .condition_select {
    height: 50px;
    padding-left: 110px;
    font-size: 14px; }
    #content .wrapper .item_box .item_box_list .condition_select select {
      width: 100px;
      height: 34px; }
    #content .wrapper .item_box .item_box_list .condition_select input {
      height: 30px;
      padding-left: 8px; }
    #content .wrapper .item_box .item_box_list .condition_select .goods_wrapper {
      display: inline-block;
      position: relative;
      font-size: 12px; }
      #content .wrapper .item_box .item_box_list .condition_select .goods_wrapper input {
        width: 230px; }
      #content .wrapper .item_box .item_box_list .condition_select .goods_wrapper .select_goods {
        padding: 0 10px;
        position: absolute;
        top: 34px;
        left: 0;
        width: 220px;
        height: 105px;
        background: #fff;
        border: solid #aaa;
        border-width: 0 1px 1px 1px;
        overflow-y: scroll;
        display: none; }
        #content .wrapper .item_box .item_box_list .condition_select .goods_wrapper .select_goods .item {
          text-align: left;
          line-height: 34px;
          height: 34px;
          border-bottom: 1px solid #aaa;
          cursor: pointer; }
          #content .wrapper .item_box .item_box_list .condition_select .goods_wrapper .select_goods .item:hover {
            color: #000778; }
  #content .wrapper .item_box .item_box_list #canvas {
    margin-left: 80px; }
  #content .wrapper .item_box .item_box_list a {
    display: inline-block;
    font-size: 14px;
    width: 70px;
    height: 30px;
    vertical-align: top;
    border: 2px solid #dedede;
    text-align: center;
    line-height: 30px;
    background: #f7193f;
    border-radius: 20px;
    color: #fff;
    cursor: pointer; }
