$mic:"微软雅黑";
body{
	font-family:"宋体";
	background: url("../img/backstageBg.jpg");
}
#banner{
	width:100%;
	height: 45px;
	background:#8892BF;
	border-bottom:5px solid #4F5B93;
	.wrapper{
		width:1200px;
		margin:0 auto;
		%fontStyle{
			text-align: center;
			line-height: 45px;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			color:#E2E4EF;
			font-family: $mic;
		}
		ul{
			display: inline-block;
			vertical-align: top;
			a{
				cursor:pointer;
				li{
					float:left;
					width:80px;
					height:45px;
					font-size:14px;
					@extend %fontStyle;
				}
				.active{
					background:#4F5B93;
				}
			}
		}
		.banner_text{
			@extend %fontStyle;
			font-weight: 600;
			letter-spacing: 4px;
			margin-right:15px;
			font-size:26px;
		}
		.name{
			margin-right:50px;
		}
		.name,.back_home{
			float:right;
			text-align: center;
			line-height: 45px;
			color:#f1f1f1;
			font-weight: 600;
		}	
	}	
}
#content{
	.wrapper{
		width:1200px;
		margin:30px auto;
		background:#bbb;
		min-height:500px;
		position:relative;
		box-sizing:border-box;
		padding:20px;
		.mode_choice{
			@media(max-width:1250px){
				left:0;
			}
			position:absolute;
			top:120px;
			left:-50px;
			ul{
				li{
					margin-bottom:8px;		
					color:#dedede;
					line-height:20px;	
					font-weight: 600;
					cursor:pointer;
					background:#5B37EA;		
					p{
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						width:45px;
						height:45px;							
					}
				}
				.active{
					background:#F24C0A;
				}
			}
		}
		.item_box{
			.item_box_list{
				.header_text{
					text-align: center;
					height:100px;
					font-size:34px;
					line-height:100px;
					font-weight: 600;
				}
			}
			.backstage_index{
				.tips{
					width:600px;
					margin:0 auto;
					p{
						text-indent: 2em;
						line-height:20px;
						margin-bottom:10px;
					}
				}
			}
			.goods_ranking,.goods_sale,.goods_rel{
				.box{
					position:relative;
					table{
						margin:0 auto 20px;
						border:1px solid #333;
						th{
							font-weight: 600;
						}
						th,td{
							border:1px solid #333;
							text-align: center;
							padding:0 10px;
							height:24px;
						}
						.ranking,.num,.name,.price,.time,.people,.rel_num{
							min-width:120px;
						}
					}
					.select_time{
						position:absolute;
						top:0;
						left:50px;
						width:130px;
						height:30px;
						padding-left:10px;
						font-family: $mic;
						font-size:14px;
					}
					// .page_box{
					// 	width:550px;
					// 	margin:0 auto;
					// 	font-size:0;
					// 	a{
					// 		display: inline-block;
					// 		font-size:14px;
					// 		width:22px;
					// 		height:20px;
					// 		text-align: center;
					// 		line-height:20px;
					// 		margin:0 5px;
					// 		border:1px solid #333;
					// 		color:#000;
					// 		cursor:pointer;
					// 		&:first-child,&:last-child{
					// 			width:40px;
					// 		}
					// 	}
					// 	strong{
					// 		font-size:14px;
					// 	}
					// 	.prev_page,.next_page{
					// 		width:60px;
					// 	}
					// 	.disable{
					// 		opacity:0.5;
					// 	}
					// 	.hidden{
					// 		display:none;
					// 	}
					// 	.active{
					// 		color:white;
		   //  				background:#3E26D2;
		   //  				border-color:#3E26D2;
					// 	}
					// }
				}
			}
			.goods_sale{
				.page_box{
					width:550px;
					margin:0 auto;
					font-size:0;
					a{
						display: inline-block;
						font-size:14px;
						width:22px;
						height:20px;
						text-align: center;
						line-height:20px;
						margin:0 5px;
						border:1px solid #333;
						color:#000;
						cursor:pointer;
						&:first-child,&:last-child{
							width:40px;
						}
					}
					strong{
						font-size:14px;
					}
					.prev_page,.next_page{
						width:60px;
					}
					.disable{
						opacity:0.5;
					}
					.hidden{
						display:none;
					}
					.active{
						color:white;
	    				background:#3E26D2;
	    				border-color:#3E26D2;
					}
				}
			}
			.goods_rel{
				.update_num{
					width:260px;
					margin:0 auto;
					input{
						width:70px;
						height:30px;
						padding-left:8px;
						font-size:14px;
					}
					a{
						display:inline-block;
						font-size:14px;
						width:70px;
						height:30px;
						vertical-align: top;
						border:2px solid #dedede;
						text-align: center;
						line-height:30px;
						background:#f7193f;
						border-radius: 20px;
						color:#fff;
						cursor:pointer;
					}
				}
			}
			.hidden{
				display:none;
			}
		}
	}
}